Xml_task/hardware.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="hardware">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CPUs">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="CPU">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string" />
										<xs:element name="price" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="on_sale" type="xs:boolean" use="required" />
									<xs:attribute name="recommended" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GCards">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Graphics_Card">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string" />
										<xs:element name="price" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="on_sale" type="xs:boolean" use="required" />
									<xs:attribute name="recommended" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SSDs">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="SSD">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string" />
										<xs:element name="price" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="on_sale" type="xs:boolean" use="required" />
									<xs:attribute name="recommended" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>